.cardwrap {
	margin: 15px 0;
	padding: 0 15px 0 0;
	text-align: center;
}
.cardfront, .cardback {
	text-align: left;
	width: 250px;
	height: 190px;
	background: rgb(134, 178, 215);
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	margin: 0 5px;
}
.userinfo {
	text-align: left;
	margin: 0 5px;
	padding: 10px;
	width: calc(100% - (320px * 2));
	display: inline-block;
	vertical-align: top;
}
label {
	display: block;
}

button {
	background: #eb94d0;
	background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
	/* to give the curved edge for the btn */
	border-radius: 28px;
	text-shadow: 3px 2px 1px #9daef5;
	box-shadow: 6px 5px 24px #666666;
	font-family: Arial;
	color: #fafafa;
	font-size: 27px;
	padding: 19px;
	text-decoration: none;
}
button:hover {
	background: #2079b0;
	background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
	text-decoration: none;
}